@(tweets:List[Tweet], searchForm: Form[TweetData])
@main("Tweets") {

    @* Global errors are not tied to any particular form field *@
    @if(searchForm.hasGlobalErrors) {
        @searchForm.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div class="clearfix error">
                @error.key: @error.message
            </div>
        }
    }
		<h2>Tweet Analytics</h2>
		@helper.form(action =routes.TweetController.fetchTweets) {
        @helper.CSRF.formField
		<div class="input-group mb-1">
       	 	@helper.inputText(searchForm("keyword"),'placeholder->"Search Keyword", 'class->"form-control")
	  	</div>
		<button type="submit" class="btn btn-secondary">Search</button>
    }
    <hr/>
    @if(!tweets.isEmpty){
		<table>
        <thead>
            <tr>
            	<td>User</td>
            	<td>Text</td>
            </tr>
        </thead>
        <tbody>
        	@for(w<- tweets){
        	<tr>
        		<td>
        			<a href=@routes.TweetController.getUser(w.getUser.getScreenName)>@w.getUser.getScreenName</a>
        		</td>
        		<td>@w.getTweet</td>
        	</tr>
        	}
        </tbody>
		</table>
	}

}
