@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.7-dist/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body class="container-fluid">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
		<script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap-3.3.7-dist/js/bootstrap.min.js")" type="text/javascript"></script>
        <div class="card" style="display:none;">
            <h4 class="card-title" id="title"></h4>
	  		<div class="panel panel-primary tweet">
				<p class="card-text" id="text">test</p>
	  		</div>
		</div>
    </body>
    
</html>
